/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 :root{
    --proteo-button_2_bg_color_1: rgba(68, 138, 133, 1);
    --proteo-button_2_bg_color_2: rgba(106, 162, 158, 1);
 }
.admin-post-sec .form-group label {
    width: max-content;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    line-height: 34px;
}
.admin-post-sec .form-group select, .admin-post-sec .form-group input {
    width: 45%;
    font-size: 16px;
    margin-left: 30px;
    font-weight: normal;
    box-shadow: 0px 0px 5px 1px #0000000d inset;
    border-color: #00000033;
}
.row_wrapper {
    display: flex;
    column-gap: 15px;
    align-items: stretch;
    margin-bottom: 15px;
}

.detail-wrapper {
    background: #fff;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px #00000005;
    border-radius: 3px;
    width: 30%;
}
.detail-wrapper li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.detail-wrapper ol {
    margin-left: 1em;
}
.detail-wrapper li ol li {
    margin-bottom: 5px;
}
.group-wrapper {
    width: 60%;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px #00000005;
    border-radius: 3px;
}
.admin-post-sec .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-post-sec .form-group ~.form-group {
    margin-top: 20px;
}
.admin-post-sec .form-group select{
    text-transform: capitalize;
}
.admin-post-sec .form-group.column {
    flex-wrap: wrap;
}
.admin-post-sec #post_submit {
    cursor: pointer;
    background: #0094c4;
    background: linear-gradient(180deg, var(--proteo-button_2_bg_color_1, #00a79c) 0%, var(--proteo-button_2_bg_color_2, #01af8d) 100%);
    border: none;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    width: 15%;
    padding: 8px 0;
    margin-left: 0;
}
.admin-post-sec .fixed {
    position: fixed;
    right: -60px;
    top: 25%;
    transition: 0.4s ease-in-out;
}

.admin-post-sec .fixed #post_submit {
    width: auto;
    padding: 10px 25px 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 2px;
}

.admin-post-sec .fixed:hover {
    right: 0;
}
.form-group.wishev_position {
    margin-bottom: 17px;
}
.group-wrapper h2 {
    color: #3c434a;
    font-size: 22px;
    border-bottom: 1px solid #00000017;
    padding-bottom: 20px;
    font-weight: 400;
}

.gd {
  display: grid;
}

.toggle-button {
  position: relative;
  /* height: 100px;  */
}

.knob,
.btn-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn {
  position: relative;
  top: 50%;
  width: 114px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.btn.btn-pill,
.btn.btn-pill > .btn-bg {
  border-radius: 100px;
}

.btn.btn-rect {
  border-radius: 2px;
}

.btn .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  min-width: 100%;
}

.knob {
  z-index: 2;
}

.btn-bg {
  width: 100%;

  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}


/* Button 10 */
#button-10 .knob:before,
#button-10 .knob:after,
#button-10 .knob span {
  position: absolute;
  top: 4px;
  width: 40px;
  height: 10px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
  box-sizing: unset;
}

#button-10 .knob:before {
  content: "";
  left: 4px;
  background: #f44336;
}

#button-10 .knob:after {
  content: "YES";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knob span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knob span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knob:before {
  left: 62px;
  background-color: #6aa29e;
}

#button-10 .checkbox:checked + .knob:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .btn-bg {
  background-color: #6aa29e45;
}
.wishlisted-products img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 40px;
    height: auto;
    padding: 7px;
    background: #FCF9F4;
    border: 1px solid #d2d2d233;
    border-radius: 6px;
    object-fit: cover;
    aspect-ratio: 1;
}

.wishlisted-products td.first-col {
    display: flex;
    align-items: center;
    gap: 7px;
}

.wishlisted-products span {
    width: 150px;
}
.wishlisted-products td,.wishlisted-products th {
    padding: 10px 20px 10px 0px;
    border-bottom: 1px solid #0000000d;
    font-weight: 500;
    color: #000;
}
.wishlisted-products table {
    background: #FFFEFB;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px -2px #0000002b;
    width: 30%;
}
.wishlisted-products .wishlist-link {
    text-decoration: none !important;
    color: #fff !important;
    padding: 8px 16px;
    background: linear-gradient(180deg, var(--proteo-button_2_bg_color_1, #00a79c) 0%, var(--proteo-button_2_bg_color_2, #01af8d) 100%);
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
    box-shadow: none;
}
.wishlist-analytics-table h2 {
    color: #737572;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.wishlist-analytics-table {
    width: 100%;
    margin-top: 40px;
}
.wishlisted-products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.wishlist-analytics-table h1 {
    color: #3F413E;
    text-align: center;
    line-height: 30px;
}
.admin-post-sec input[type="color"] {
    width: 50px !important;
    height: 50px;
}